<?php

class A
{
    public function renderContent($contentId)
    {
        $contentService = $this->getRepository->getContentService();
        $content = $contentService->loadContent($contentId);
    }
}